@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playwrite+NL:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}
body{
    background-color: black;
}
.myClear {
    clear: both;
}
#navbarBrandName {
    font-family: 'Playwrite NL';
    font-weight: 100;
    transform: rotate(-8deg);
}
nav .navbar-nav .nav-item .nav-link {
    position: relative;
    padding-bottom: 0.5rem;
    color: whitesmoke;
}
nav .navbar-nav .nav-item .nav-link:hover{
    transition: all 0.25s ease-out;
    color:#DC143C;
}
nav .navbar-nav .nav-item .nav-link::after {
    position: absolute;
    content: '';
    background-color:#DC143C;
    left:0;
    bottom:0;
    width:0;
    height: 3px;
    transition: all 0.25s;
}
nav .navbar-nav .nav-item .nav-link:hover::after {
    width:100%;
}

#nav-div .nav-item{
    padding-right: 20px;
}
.divLanding {
    height: 100vh;
    padding-bottom: 20px;
}
.square-box{
    min-height: 60vh;
}
/*
#373E38
*/
#btn-backToTop{
    border-radius: 30px;
    position: fixed;
    bottom: 25px;
    right: 35px;
    display: none;
    
}

.carouselRoundButtons{
    border-radius: 30px;
    padding: 20px;
}

@-webkit-keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
  
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.headerTransition{
    opacity: 0;
    animation: 2s ease-in-out slide-in;
    animation-fill-mode: forwards;

}

.languageImages{
    max-width: 3rem;
    max-height: 4rem;
}

#projectsHeader{
    font-family: 'EB Garmond';
    font-style: italic;
    font-weight: 400;
}

.carouselColor{
    background-color: brown;
}

.darkenImage{
   filter: brightness(80%);
}